.list {
  list-style: none;
}

.listContainer {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageContainer {
  min-height: 100vh;
}

.coverImage {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

}